body
{
    color: #ccc;
    background-color: #282828;
}

main
{
    min-height: 1120px;
}

main > form
{
    width: 80%;
    margin: 40px auto 60px;
    padding: 40px;

    border: 5px dashed #aaa;
    box-shadow: 0 0 50px  #991f00;
}

main > form > header > h3
{
    font-family: Georgia;

    margin: 0 0 40px;
}


main > form > section > div > input
{
    display: block;

    width: 70%;
    min-width: 170px;
    margin: 5px 10px 30px;

    color: black;
}


main > form > section > div > textarea
{
    display: block;

    width: 90%;
    margin: 5px 10px 30px;

    color: black;
}



main > form > footer
{
    text-align: center;
}

main > form > footer > input[type='submit']
{
    font-weight: bold;

    width: 20%;
    min-width: 70px;
    margin: 10px auto;
    padding: 5px 10px;

    color: #ccc;
    border: 2px solid #ccc;
    background-color: #282828;
}

main > form > footer > input[type='submit']:hover
{
    color: #282828;
    background-color: #ccc;
}

/* ------------------ */


main > div.coor-holder
{
    height: 300px;
}

main > div.coor-holder > div.google-maps
{
    height: 100%;
}

main > div.coor-holder > div.google-maps > iframe
{
    width: 100%;
    height: 100%;
}

main > div.coor-holder > div.coordinates
{
    font-size: 20px;

    box-sizing: border-box;
    min-width: 400px;
    height: 100%;
    padding: 15px 25px;

    color: #991f00;
    background-color: rgba(0,0,0, .9);
}

main > div.coor-holder > div.coordinates:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

main > div.coor-holder > div.coordinates h3
{
    font-size: 34px;
}

/* ------------------ */

@media screen and (min-width: 1025px) {
    main
    {
        min-height: 790px;
    }

    main > form > section:after
    {
        display: block;
        visibility: hidden;
        clear: both;

        height: 0;

        content: '.';
    }

    main > form > section > div:first-of-type
    {
        float: left;

        width: 45%;
    }

    main > form > section > div:last-of-type
    {
        float: right;

        width: 45%;
    }

    main > div.coor-holder > div.google-maps
    {
        float: left;

        width: 60%;
    }

    main > div.coor-holder > div.coordinates
    {
        float: right;

        width: 40%;
    }
}
